<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTE: retained app.config for application settings. Removed <supportedRuntime> entry as it's not applicable to .NET 10 runtime. -->
<configuration>
  <!-- Keep app settings here if needed. -->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NostalG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NostalG.Properties.Settings>
            <setting name="BgColor" serializeAs="String">
                <value>White</value>
            </setting>
        </NostalG.Properties.Settings>
    </userSettings>
</configuration>
